.icon_contactimporter_button {
    background: url(../images/import_icon.png) no-repeat !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px !important;
}

.icon_contactimporter_export {
    background: url(../images/download.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}
